<!--<div class="app-content">-->
<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <div class="tile-body">
        <div class="row form-group">
          <div class="col-sm-12 text-right">
            <div class="upload-btn-wrapper" style="margin-left: 5px;margin-right: 5px">
              <button class="btn btn-info btn-sm btn-all-shadow waves-effect waves-light" [routerLink]="['addProduct']"
                      title="Add Student">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                Add Product
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <table class="table">
              <thead>
              <tr role="row" class="table-bordered">
                <th>S.No</th>
                <th>Product Name</th>
                <th>Product Count</th>
                <th>Quantity</th>
                <th>rate</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>652623</td>
                <td>652623</td>
                <td>652623</td>
                <td>652623</td>
                <td>652623</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--</div>-->
