<div class="app-content">
  <div class="app-header">
    <div class="header-buttons">
      <div class="row">
        <div class="upload-btn-wrapper" style="margin-right: 30px">
          <button type="button"  class="btn btn-light btn-sm btn-all-shadow waves-effect waves-light" [routerLink]="['/AllStudent']"> Student Data</button>
        </div>
        <div class="upload-btn-wrapper" style="margin-right: 5px">
          <button type="button"  class="btn btn-light btn-sm btn-all-shadow waves-effect waves-light" [routerLink]="['/allProducts']"> Product List</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
